.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}
.wp-block-media-text__content{
    background-color: #f0f0f0;
    margin-left: 2em;
}

.wp-block-columns{
    background-color: #f0f0f0;
    padding: 1em;
}

.entry-title{
    border-bottom: 5px solid #000000;
    display: inline-block;
}